body {
    background-color: black;
    color: white;
    font-family: Cookie, serif;
}

h1 {
  font-size: 72px;
  text-align: center;
}


ul {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
    list-style-type: none;
}


@media only screen and (max-width: 1800px){
ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    list-style-type: none;
}
}

@media only screen and (max-width: 1200px){
ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: none;
}
}


@media only screen and (max-width: 600px){
ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    list-style-type: none;
}
}


ul li ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    list-style-type: none;
}

ul li ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    list-style-type: none;
}

li {
    margin-bottom: 60px;
    margin-right: 60px;
    font-size: 36px;
    break-inside: avoid;
}

div {
    break-inside: avoid;
}

#test {
    color: yellow;
}

#TODO {
    color: red;
}

ul li ul li {
    margin-right: 0px;
    margin-bottom: 5px;
    font-size: 24px;
}

a:hover {
    color: teal;
}

a {
    color: white;
}

table {
  border-collapse: collapse;
  margin: 8px 0;
  font-size: 0.95em;
}

th {
  background: #333;
  font-weight: 600;
}

table, th, td {
  border: 1px solid #555;
}

th, td {
  padding: 6px 12px;
}

.sep {
  list-style: none;
  margin: 10px 0;
  position: relative;
  text-align: center; /* centre par rapport au parent inline */
}
.sep::after {
  content: "";
  display: inline-block;
  width: 200px;
  height: 3px;
  background: linear-gradient(to right, transparent, #999, transparent);
  margin: 0 auto;
}
